my_ws/build
my_ws/install
my_ws/log
adv_ws/build
adv_ws/install
adv_ws/log
parcial_ws/build
parcial_ws/install
parcial_ws/log
esp_ws/build
esp_ws/install
esp_ws/log
intermidiate_ws/build  
intermidiate_ws/install  
intermidiate_ws/log
mechanical_ws/build  
mechanical_ws/install  
mechanical_ws/log